modules = ["nodejs-20", "php-8.2", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Laravel Test Server"

[[workflows.workflow]]
name = "Laravel + Vite Dev Server"
author = 42131176
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=8000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Laravel Test Server"
author = 42131176
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
